# SQL and Pandas test

## Objectives  
* Connect to SQL DB  
* Create table CBAS  
* Create colums for table  
* Import some sensor data

In [1]:
import pymysql
import sqlconfig # From sqlconfig.py
import pandas as pd
import sqlalchemy
print("Import Complete")

Import Complete

In [2]:
passwd = sqlconfig.passwd
user = sqlconfig.user

### Sample 
create table for testing in 'sample' DB

In [3]:
engine = sqlalchemy.create_engine('mysql+pymysql://'+user+':'+passwd+'@34.67.192.90/sample')

sample is the DB being accessed. To create new table with a row of data

In [4]:
exec = '''
CREATE TABLE 'pet'


'''
pd.read_sql(exec,engine)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''pet'' at line 1")
[SQL:
CREATE TABLE 'pet'


]
(Background on this error at: http://sqlalche.me/e/f405)

In [5]:
df = pd.read_sql('pet',engine) 
# will throw error if there is no 'pet' table created yet
df

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'pet' at line 1")
[SQL: pet]
(Background on this error at: http://sqlalche.me/e/f405)

In [9]:
df.columns

Index(['name', 'owner', 'species', 'sex', 'birth', 'death'], dtype='object')

In [13]:
data = {'name': ['joe', 'jean','john','jane'],
        'owner': ['Dina', 'Wilma','George','Mohamed'],
        'species': ['Mouse', 'Horse','Cow','Bird'],
        'sex': ['M', 'M','F','M'], 'birth': ['1999-03-30', '1999-03-30','1999-03-30','1999-03-30'],
        'death': ['1999-03-30', '1999-03-30','1999-03-30','1999-03-30']}


upload = pd.DataFrame(data=data)

In [14]:
upload

   name    owner species sex       birth       death
0   joe     Dina   Mouse   M  1999-03-30  1999-03-30
1  jean    Wilma   Horse   M  1999-03-30  1999-03-30
2  john   George     Cow   F  1999-03-30  1999-03-30
3  jane  Mohamed    Bird   M  1999-03-30  1999-03-30

In [15]:
upload.to_sql('pet',engine,
    if_exists='append',
    index=False
)

In [16]:
df = pd.read_sql_table('pet',engine)
df

       name    owner  species sex      birth      death
0  Puffball    Diane  hamster   f 1999-03-30 2009-03-30
1       joe     Dina    Mouse   M 1999-03-30 1999-03-30
2      jean    Wilma    Horse   M 1999-03-30 1999-03-30
3      john   George      Cow   F 1999-03-30 1999-03-30
4      jane  Mohamed     Bird   M 1999-03-30 1999-03-30

---

#### Try with CBAS data

In [6]:
import glob
import os.path

In [7]:
engine = sqlalchemy.create_engine('mysql+pymysql://'+user+':'+passwd+'@34.67.192.90/CBAS')

In [8]:
base_path = os.path.dirname(os.path.dirname(os.path.abspath(os. getcwd())))
start_path = os.path.join(base_path,"Plotly_dash","CSV", "1Processed","NewLab_run")
start_path

'C:\\Users\\samgt\\Documents\\GitHub\\CBAS-full\\Plotly_dash\\CSV\\1Processed\\NewLab_run'

In [9]:
fn = 'protoCBAS-*'
path = sorted(glob.glob(os.path.join(start_path, fn)))
path

['C:\\Users\\samgt\\Documents\\GitHub\\CBAS-full\\Plotly_dash\\CSV\\1Processed\\NewLab_run\\protoCBAS-A.csv',
 'C:\\Users\\samgt\\Documents\\GitHub\\CBAS-full\\Plotly_dash\\CSV\\1Processed\\NewLab_run\\protoCBAS-B.csv',
 'C:\\Users\\samgt\\Documents\\GitHub\\CBAS-full\\Plotly_dash\\CSV\\1Processed\\NewLab_run\\protoCBAS-C.csv',
 'C:\\Users\\samgt\\Documents\\GitHub\\CBAS-full\\Plotly_dash\\CSV\\1Processed\\NewLab_run\\protoCBAS-D.csv',
 'C:\\Users\\samgt\\Documents\\GitHub\\CBAS-full\\Plotly_dash\\CSV\\1Processed\\NewLab_run\\protoCBAS-G.csv']

In [10]:
dfs = [pd.read_csv(f, parse_dates=["timestamp"], index_col=["timestamp"]).assign(sensor=f) for f in path]

In [11]:
dfs[0].sensor

timestamp
2019-09-06 15:59:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2019-09-06 16:00:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2019-09-06 16:00:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2019-09-06 16:00:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2019-09-06 20:20:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
                                                   ...
2020-01-08 18:35:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2020-01-08 18:40:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2020-01-08 18:45:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2020-01-08 18:50:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
2020-01-08 18:55:00+00:00    C:\Users\samgt\Documents\GitHub\CBAS-full\Plot...
Name: sensor, Length: 35825, dtype: object

In [12]:
## filtering directory/file extensions
stripboard = ((len(start_path))) # getting the length of the path up to where glob fills in filenames
for d in dfs:
    d.sensor = d.sensor.str.slice(start=stripboard+1).str.replace(".csv", "")

In [13]:
availablecolumns = pd.Series(dfs[0].columns)

In [114]:
#[d.to_sql('NewLab',engine,if_exists='append') for d in dfs]

[None, None, None, None, None]

In [115]:
query= ''' 
SELECT * 
FROM NewLab
'''


CBAStest =  pd.read_sql(query,engine,parse_dates=["timestamp"], index_col=["timestamp"])

In [116]:
CBAStest.head()

,battery,Tdb_BME680,RH_BME680,P_BME680,Alt_BME680,TVOC,ECO2,RCO2,Tdb_scd30,RH_scd30,...,PPD_fixed_air,Ta_adj_fixed_air,Cooling_effect_fixed_air,SET_fixed_air,TComf_fixed_air,TempDiff_fixed_air,TComfLower_fixed_air,TComfUpper_fixed_air,Acceptability_fixed_air,Condit_fixed_air
timestamp,,,,,,,,,,,,,,,,,,,,,
2019-09-06 15:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 20:20:00,3.972174,24.16,55.79,100.95,NaN,0.0,400.0,800.0,24.58,56.38,...,30.305161,21.500962,20.325461,3.834539,25.076096,-0.496096,21.576096,28.576096,1,0

In [119]:
query= ''' 
SELECT * 
FROM NewLab
WHERE sensor = 'protoCBAS-A' 
AND timestamp BETWEEN '2019-09-06 00:00:00' and '2019-09-30 11:59:00'
'''


CBAStestA =  pd.read_sql(query,engine,parse_dates=["timestamp"], index_col=["timestamp"])

In [121]:
CBAStestA

,battery,Tdb_BME680,RH_BME680,P_BME680,Alt_BME680,TVOC,ECO2,RCO2,Tdb_scd30,RH_scd30,...,PPD_fixed_air,Ta_adj_fixed_air,Cooling_effect_fixed_air,SET_fixed_air,TComf_fixed_air,TempDiff_fixed_air,TComfLower_fixed_air,TComfUpper_fixed_air,Acceptability_fixed_air,Condit_fixed_air
timestamp,,,,,,,,,,,,,,,,,,,,,
2019-09-06 15:59:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,25.076096,NaN,21.576096,28.576096,0,-1
2019-09-06 20:20:00,3.972174,24.16,55.79,100.95,NaN,0.0,400.0,800.0,24.58,56.38,...,30.305161,21.500962,20.325461,3.834539,25.076096,-0.496096,21.576096,28.576096,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-09-30 11:35:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,24.377619,NaN,20.877619,27.877619,0,-1
2019-09-30 11:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,24.377619,NaN,20.877619,27.877619,0,-1
2019-09-30 11:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,24.377619,NaN,20.877619,27.877619,0,-1
2019-09-30 11:50:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,24.377619,NaN,20.877619,27.877619,0,-1
2019-09-30 11:55:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-999.000000,24.377619,NaN,20.877619,27.877619,0,-1