# TsDB  Usage

* Setup
* Connect to DB
* Table structure
* Views
* Read data from TsDB 
* Import Data

## Resources

* Learning with Kaggle
  * [Kaggle - Python](https://www.kaggle.com/learn/python)
  * [Kaggle - Pandas](https://www.kaggle.com/learn/pandas)
  * [Kaggle - SQL intro](https://www.kaggle.com/learn/intro-to-sql)

* Docs
  * [Dash/Plotly](http://dash.plotly.com/)
  * [Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html#user-guide)
  * [TimescaleDB](https://docs.timescale.com/latest/introduction)
  * [SQL Tutorial](https://www.w3schools.com/sql/default.asp)
* Cheat Sheets
  * [Conda](https://docs.conda.io/projects/conda/en/latest/_downloads/843d9e0198f2a193a3484886fa28163c/conda-cheatsheet.pdf)
  * [Pandas](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
  * [PostgreSQL through SQLAlchemy](https://www.compose.com/articles/using-postgresql-through-sqlalchemy/)

In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import plotly.figure_factory as FF
import plotly.offline as offline
from datetime import datetime
import glob
import os.path
import pymysql
import sqlconfig # From sqlconfig.py
import pandas as pd
import sqlalchemy
import psycopg2
from tqdm import tqdm
print("Import Complete")

Import Complete

## SQL setup
create [sqlalchemy](https://docs.sqlalchemy.org/en/13/core/engines.html#postgresql) engine to connect to DB
using SQL credentials from `sqlconfig.py`

Host IP - 34.68.85.80

```python
passwd = "passwd"  # password for DB
user = "user"  # Username for DB
DB = 'cbas'  # name of database
```

In [2]:
passwd = sqlconfig.passwd  # From sqlconfig.py
user = sqlconfig.user  # From sqlconfig.py
DB = 'cbas'  #name of databases to activate

In [3]:
print("User: "+user) # check user

User: ad

In [4]:
engine = sqlalchemy.create_engine('postgresql+psycopg2://'+user+':'+passwd+'@34.68.85.80/'+DB)

---

### DB/table structure

Databases and tables

---

```
├─cbas - (Database)
    └─ Tables
       ├── cbasdef (data from VM ingestion+(NULL)comfort metrics)
       ├── values (units and names of values for charting)
       ├── newlab(*) (NewLab data)
       ├── telemetry(*) (Telemetry data from CBAS)
```

---

### SQL VIEWS

* [Continuous Aggregates](https://docs.timescale.com/latest/api#continuous-aggregates)

* raw
  
```SQL
CREATE VIEW raw AS
SELECT "sensor","battery", "Air", "Tdb_BME680", "RH_BME680", "P_BME680", "Alt_BME680", "TVOC","ECO2", "RCO2", "Tdb_scd30", "RH_scd30", "Lux", "PM1", "PM25", "PM10"
FROM cbasdef
order by timestamp desc;
```

## Read Data

* [TimescaleDB-"Reading data"](https://docs.timescale.com/latest/using-timescaledb/reading-data)

Just going to try pulling everythingto see what we have....

In [5]:
query= ''' 
SELECT * 
FROM cbasdef
'''

In [6]:

CBAS= pd.read_sql(query,engine,index_col=["timestamp"])
#CBAS
CBAS.head()

,battery,Tdb_BME680,RH_BME680,P_BME680,Alt_BME680,TVOC,ECO2,RCO2,Tdb_scd30,RH_scd30,...,Ta_adj_fixed_air,Cooling_effect_fixed_air,SET_fixed_air,TComf_fixed_air,TempDiff_fixed_air,TComfLower_fixed_air,TComfUpper_fixed_air,Acceptability_fixed_air,Condit_fixed_air,epoch
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-02-27 20:57:57+00:00,4.061965,23.96,18.50,99.69,100.49,90.0,400.0,638.0,27.55,15.55,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 20:58:59+00:00,4.061965,23.97,18.49,99.69,100.66,92.0,400.0,636.0,27.57,15.60,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 21:00:01+00:00,4.059721,23.98,18.58,99.69,100.49,87.0,400.0,640.0,27.56,15.69,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 21:01:02+00:00,4.072067,23.98,18.58,99.69,100.49,88.0,400.0,644.0,27.59,15.71,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 21:02:04+00:00,4.065333,23.99,18.61,99.69,101.16,103.0,400.0,650.0,27.59,15.66,...,None,None,None,None,None,None,None,None,None,NaT

In [8]:
# What sensors do we have?
CBAS['sensor'].unique()

array(['BEEM-A', 'BEEM-C', 'BEEM-D', 'Moe', 'protoCBAS-G', 'protoCBAS-B',
       '84N_Coronoffice'], dtype=object)

### More Queries

#### From Now() to interval
* Starting now() go back to `[interval]`:
```SQL
SELECT * 
FROM [table]
WHERE timestamp > NOW() - interval '[interval]';
```

In [9]:
query = '''
SELECT * 
FROM cbasdef
WHERE timestamp > NOW() - interval '1 hour';
'''

In [10]:
CBAS = pd.read_sql(query,engine,index_col=["timestamp"])
#CBAS
CBAS.head()

,battery,Tdb_BME680,RH_BME680,P_BME680,Alt_BME680,TVOC,ECO2,RCO2,Tdb_scd30,RH_scd30,...,Ta_adj_fixed_air,Cooling_effect_fixed_air,SET_fixed_air,TComf_fixed_air,TempDiff_fixed_air,TComfLower_fixed_air,TComfUpper_fixed_air,Acceptability_fixed_air,Condit_fixed_air,epoch
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-04-02 16:24:41+00:00,4.045130,24.04,25.52,100.13,63.91,103.0,400.0,500.0,27.10,22.13,...,None,None,None,None,None,None,None,None,None,1970-01-01 00:00:01.585844
2020-04-02 16:24:38+00:00,4.079924,24.46,28.66,100.13,63.91,186.0,400.0,711.0,27.12,25.54,...,None,None,None,None,None,None,None,None,None,1970-01-01 00:00:01.585844
2020-04-02 16:24:29+00:00,4.045130,24.04,25.78,100.13,63.74,102.0,400.0,503.0,27.13,21.80,...,None,None,None,None,None,None,None,None,None,1970-01-01 00:00:01.585844
2020-04-02 16:24:28+00:00,4.074312,24.90,35.11,100.51,32.07,354.0,400.0,1148.0,26.50,33.34,...,None,None,None,None,None,None,None,None,None,1970-01-01 00:00:01.585844
2020-04-02 16:24:18+00:00,4.023804,24.03,25.88,100.13,63.57,107.0,403.0,506.0,27.10,22.13,...,None,None,None,None,None,None,None,None,None,1970-01-01 00:00:01.585844

#### SELECT sensor(s)
* select sensor:
```SQL
SELECT * FROM cbasdef
WHERE sensor IN ('Moe','BEEM-A')
AND timestamp > NOW() - interval '1 hour';
```

In [5]:
query = '''
SELECT * FROM cbasdef
WHERE sensor IN ('protoCBAS-G')
AND timestamp > NOW() - interval '10 minutes';
'''

In [6]:
CBAS = pd.read_sql(query,engine,index_col=["timestamp"])
#CBAS
CBAS.head()

,battery,Tdb_BME680,RH_BME680,P_BME680,Alt_BME680,TVOC,ECO2,RCO2,Tdb_scd30,RH_scd30,...,SET_fixed_air,TComf_fixed_air,TempDiff_fixed_air,TComfLower_fixed_air,TComfUpper_fixed_air,Acceptability_fixed_air,Condit_fixed_air,epoch,ID,Asensor
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-04-07 01:44:39+00:00,4.02,27.34,31.14,101.50,-50.71,184.0,454.0,1000.0,28.65,29.98,...,None,None,None,None,None,None,None,1970-01-01 00:00:01.586223,e00fce68f0672cea12e8b3a0,None
2020-04-07 01:43:38+00:00,4.02,27.36,31.05,101.50,-50.55,182.0,486.0,966.0,28.71,29.97,...,None,None,None,None,None,None,None,1970-01-01 00:00:01.586223,e00fce68f0672cea12e8b3a0,None
2020-04-07 01:42:36+00:00,4.02,27.44,31.54,101.50,-51.05,195.0,620.0,1259.0,28.89,30.77,...,None,None,None,None,None,None,None,1970-01-01 00:00:01.586223,e00fce68f0672cea12e8b3a0,None
2020-04-07 01:41:34+00:00,4.02,27.34,30.97,101.50,-50.88,172.0,455.0,909.0,28.79,29.69,...,None,None,None,None,None,None,None,1970-01-01 00:00:01.586223,e00fce68f0672cea12e8b3a0,None
2020-04-07 01:40:32+00:00,4.02,27.30,31.54,101.51,-51.38,191.0,509.0,1065.0,28.70,30.28,...,None,None,None,None,None,None,None,1970-01-01 00:00:01.586223,e00fce68f0672cea12e8b3a0,None

In [7]:
link = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQ5JRPuanz8kRkVKU6BsZReBNENKglrLQDj1CTWnM1AqpxdWdWb3BEEzSeIcuPq9rSLNwzux_1l7mJb/pub?gid=1668794547&single=true&output=csv'



observation =  pd.read_csv(link, parse_dates=["Timestamp_Overrode"], index_col=["Timestamp_Overrode"])
observation.index = observation.index.tz_localize('America/New_York',ambiguous='infer')

notes= pd.DataFrame(observation[['note','sensor','Coord_X_m', 'Coord_Y_m', 'Coord_Z_m','Position_HumanReadable']])
notes.sort_index( inplace=True )

In [8]:
notes.head()

,note,sensor,Coord_X_m,Coord_Y_m,Coord_Z_m,Position_HumanReadable
Timestamp_Overrode,,,,,,
2019-07-25 10:59:51-04:00,Argon_GW is online at newlab with a xenon... n...,NaN,NaN,NaN,NaN,NaN
2019-07-26 11:27:01-04:00,NaN,protoCBAS-A,NaN,NaN,NaN,NaN
2019-07-29 14:42:26-04:00,running side by side on table in NewLab ~2 inc...,"protoCBAS-A, protoCBAS-B, protoCBAS-C, protoCB...",NaN,NaN,NaN,NaN
2019-08-02 14:17:47-04:00,Playing with all 5 on Sheldon's desk right now.,NaN,NaN,NaN,NaN,NaN
2019-08-02 14:42:19-04:00,Sensors placed in cooler ~2:40,"protoCBAS-A, protoCBAS-B, protoCBAS-C, protoCB...",NaN,NaN,NaN,NaN

#### time_buckets ([pd.resample](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html)) 

* [TimescaleDB-"time_bucket()"](https://docs.timescale.com/latest/api#time_bucket)

* [TimescaleDB-Blog](https://blog.timescale.com/blog/simplified-time-series-analytics-using-the-time_bucket-function/)

Example for avg temp in the last hour resampled by 5min:
```SQL
SELECT time_bucket('5 minutes', timestamp) AS five_min,
AVG("Tdb_BME680") as temp,
sensor as sensor
FROM raw
WHERE sensor IN ('protoCBAS-G')
AND timestamp > NOW() - interval '1 hour'
GROUP BY five_min, sensor;
```

In [72]:
query = '''
SELECT time_bucket('5 minutes', timestamp) AS five_min,
AVG("Tdb_BME680") as temp,
sensor as sensor
FROM raw
WHERE sensor IN ('protoCBAS-G')
AND timestamp > NOW() - interval '1 hour'
GROUP BY five_min, sensor;
'''

In [73]:
CBAS = pd.read_sql(query,engine,index_col=["five_min"])
CBAS

                                temp       sensor
five_min
2020-04-02 17:00:00+00:00  24.770000  protoCBAS-G
2020-04-02 16:45:00+00:00  24.828750  protoCBAS-G
2020-04-02 16:55:00+00:00  24.790000  protoCBAS-G
2020-04-02 16:40:00+00:00  24.851111  protoCBAS-G
2020-04-02 16:35:00+00:00  24.871111  protoCBAS-G
2020-04-02 17:05:00+00:00  24.755000  protoCBAS-G
2020-04-02 16:30:00+00:00  24.880000  protoCBAS-G
2020-04-02 16:10:00+00:00  24.962222  protoCBAS-G
2020-04-02 16:15:00+00:00  24.918889  protoCBAS-G
2020-04-02 16:50:00+00:00  24.805556  protoCBAS-G
2020-04-02 16:25:00+00:00  24.895556  protoCBAS-G
2020-04-02 16:05:00+00:00  25.013333  protoCBAS-G
2020-04-02 16:20:00+00:00  24.906250  protoCBAS-G

## Other SQL tools

* [pgadmin](https://www.pgadmin.org/)
![](../assets/Pgadmin1.jpg)

* [Graphana](https://grafana.com/)