# Connecting to TsDB 

   * Connect to DB
   * Pull data from TsDB 
   * Table structure
   * Views

## Resources

* Learning with Kaggle
  * [Kaggle - Python](https://www.kaggle.com/learn/python)
  * [Kaggle - Pandas](https://www.kaggle.com/learn/pandas)
  * [Kaggle - SQL intro](https://www.kaggle.com/learn/intro-to-sql)

* Docs
  * [Dash/Plotly](http://dash.plotly.com/)
  * [Pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html#user-guide)
  * [TimescaleDB](https://docs.timescale.com/latest/introduction)
* Cheat Sheets
  * [Conda](https://docs.conda.io/projects/conda/en/latest/_downloads/843d9e0198f2a193a3484886fa28163c/conda-cheatsheet.pdf)
  * [Pandas](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
  * [PostgreSQL through SQLAlchemy](https://www.compose.com/articles/using-postgresql-through-sqlalchemy/)

In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objs as go
import plotly.figure_factory as FF
import plotly.offline as offline
from datetime import datetime
import glob
import os.path
import pymysql
import sqlconfig # From sqlconfig.py
import pandas as pd
import sqlalchemy
import psycopg2
from tqdm import tqdm
print("Import Complete")

Import Complete

### SQL setup
create [sqlalchemy](https://docs.sqlalchemy.org/en/13/core/engines.html#postgresql) engine to connect to DB
using SQL credentials from `sqlconfig.py`

```python
passwd = "passwd"  # password for DB
user = "user"  # Username for DB
DB = 'cbas'  # name of database
```

In [7]:
passwd = sqlconfig.passwd  # From sqlconfig.py
user = sqlconfig.user  # From sqlconfig.py
DB = 'cbas'  #name of databases to activate

In [8]:
user # check user

'ad'

In [9]:
engine = sqlalchemy.create_engine('postgresql+psycopg2://'+user+':'+passwd+'@34.68.85.80/'+DB)

Just going to try pulling everythingto see what we have....

In [10]:
query= ''' 
SELECT * 
FROM cbasdef
'''

In [12]:

CBAS= pd.read_sql(query,engine,index_col=["timestamp"])
#CBAS
CBAS.head()

,battery,Tdb_BME680,RH_BME680,P_BME680,Alt_BME680,TVOC,ECO2,RCO2,Tdb_scd30,RH_scd30,...,Ta_adj_fixed_air,Cooling_effect_fixed_air,SET_fixed_air,TComf_fixed_air,TempDiff_fixed_air,TComfLower_fixed_air,TComfUpper_fixed_air,Acceptability_fixed_air,Condit_fixed_air,epoch
timestamp,,,,,,,,,,,,,,,,,,,,,
2020-02-27 20:57:57+00:00,4.061965,23.96,18.50,99.69,100.49,90.0,400.0,638.0,27.55,15.55,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 20:58:59+00:00,4.061965,23.97,18.49,99.69,100.66,92.0,400.0,636.0,27.57,15.60,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 21:00:01+00:00,4.059721,23.98,18.58,99.69,100.49,87.0,400.0,640.0,27.56,15.69,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 21:01:02+00:00,4.072067,23.98,18.58,99.69,100.49,88.0,400.0,644.0,27.59,15.71,...,None,None,None,None,None,None,None,None,None,NaT
2020-02-27 21:02:04+00:00,4.065333,23.99,18.61,99.69,101.16,103.0,400.0,650.0,27.59,15.66,...,None,None,None,None,None,None,None,None,None,NaT